*{
    font-family:'Times New Roman', Times, serif
}

header {
padding-block: 8px;
  text-align: right;
  width: 100%;
background-color: #63ac63;
}


h1 {
  text-align: center; 
  color: black;
}

.elemento {
 
    display: inline-block;
   color: white;
   text-decoration: none;
   margin-inline: 5px;
}
 footer{
    text-align: center;
    background-color: #276a27;
    color: white;
    width: 100%;
    height: 40px;
    margin: 0;

 }
 
 
 .foto {
   
   padding: 550px;
  
 }

 p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
 }
 h2{
    text-align: center;    
    background-color: rgb(229, 196, 202);
    height: 150px ;
    border: 5px solid grey;
    padding: 0px;
    margin: 0px;
    color: white;
    border-radius: 25px;
  
 }

.github {
   text-align: right;
   display:block;
   background-color: blue;
   color:aliceblue;
   
}

.portafolio {
   display: inline;
}

